$couleur-primaire: rgba(255, 96, 96, 1);
$couleur-fond: #f7f7f7;
$couleur-fond-photo-1: rgba(255, 255, 255, 0);
$couleur-fond-photo-2: rgba(0, 0, 0, 0.5);
$couleur-etoiles-non-aquises: rgba(227, 227, 227, 1);
