.imgAPropos {
  border-radius: 25px;
  height: 223px;
  margin: 30px auto 30px auto;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  background-image: url('../../assets/APropos.png');
}
