.imgAppart {
  width: 90%;
  object-fit: cover;
  border-radius: 25px;
  margin: 30px 5% 30px 5%;
}

.logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoLogement {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
  }

  h2,
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}

.infoLoueur {
  display: flex;
  flex-direction: column;
  .nomImageLoueur {
    display: flex;
    flex-direction: row;
    h3 {
      width: 93px;
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.accordeon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vide {
  color: $couleur-etoiles-non-aquises;
}
