:root {
  --wrapper: 1440px;
}

@media (max-width: 768px) {
  :root {
    --wrapper: 320px;
  }
  .locations {
    background-color: transparent;
    a {
      border-radius: 10px;
      height: 255px;
      width: 100%;
      margin: 10px 0;
      img {
        height: 255px;
        width: 100%;
      }
    }
  }
  .imgAPropos {
    background-image: url('../../assets/apropos2.png');
  }
  nav a img {
    width: 100%;
    object-fit: cover;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  :root {
    --wrapper: 720px;
  }
  .imgAPropos {
    background-image: url('../../assets/APropos.png');
  }
}
@media (min-width: 1100px) and (max-width: 1480px) {
  :root {
    --wrapper: 1080px;
  }
  .imgAPropos {
    background-image: url('../../assets/APropos.png');
  }
}

@media (max-width: 1100px) {
  header {
    nav {
      a {
        width: 50%;
        font-size: 12px;
        text-transform: uppercase;
      }
      div {
        width: 45%;
      }
    }

    img {
      width: auto;
      padding-right: 150px;
      object-fit: cover;
    }
  }

  .logement,
  .accordeon {
    flex-direction: column;
  }
  .galerie img {
    height: 255px;
  }
  .infoLogement {
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 14px;
    }
  }
  .infoLoueur {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    span {
      img {
        width: 15px;
      }
    }

    .nomImageLoueur {
      h3 {
        font-size: 12px;
        width: 80px;
      }
      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
      }
    }
  }
  details {
    width: 100%;
    summary {
      font-size: 13px;
      height: 30px;
      border-radius: 5px;
      i {
        font-size: 15px;
      }
    }
    p {
      font-size: 12px;
    }
  }
  .accordeonWrap .accordion {
    margin: 0 0% 20px;
    width: 100%;
    summary {
      height: 30px;
    }
  }
  .accueil {
    height: 111px;
    background-position: center;
    border-radius: 10px;
    h1 {
      height: 111px;
      font-size: 24px;
      text-align: left;
      margin-left: 10px;
      width: 70%;
    }
  }
  .imgAPropos {
    background-position: center;
    border-radius: 10px;
  }
  .tags {
    flex-wrap: wrap;
    .tag {
      font-size: 10px;
      border-radius: 5px;
    }
  }
  .error {
    h1 {
      font-size: 96px;
    }
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 14px;
    }
  }
  footer {
    p {
      font-size: 12px;
    }
  }
}
